

<div class="modal fade" id="part5" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close float-left" data-dismiss="modal">&times;</button>
            <center><h5 class="modal-title">MODIFICATION PART6</h5></center>
        </div>
        <div class="modal-body">
          {{ form_row(form.part5, {'id': 'part5', 'attr': {'class': 'part-field'}}) }}
        </div>
        <div class="modal-footer">
          <input type="submit" name="enregistrecorps3" value="Modifier" class="btn btn-success" data-dismiss="modal">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>   
        </div>
      </div>
    </div>
  </div>

  






